# Stripe Keys
MONGO_URI= mongodb+srv://asim:BHFibOZqZZrOcgCA@cluster0.vtzgfmj.mongodb.net/?appName=Cluster0
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=




# asim/BHFibOZqZZrOcgCA
# mongodb+srv://asim:BHFibOZqZZrOcgCA@cluster0.vtzgfmj.mongodb.net/?appName=Cluster0
